.emptyCart {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: var(--space-md);
  max-width: 600px;
  gap: var(--space-md);
  align-items: center;
  background-color: var(--card-bg);
  padding: var(--space-md);
  border-radius: var(--br-md);
  box-shadow: var(--shadow-sm);
}

.emptyCartText {
  font-size: var(--fs-lg);
  font-family: var(--font-accent);
  white-space: wrap;
}

.emptyCartNavToShop {
  display: inline-block;
  border-top: 1px solid var(--accent);
  margin-top: var(--space-md);
  padding-top: var(--space-sm);
  font-size: var(--fs-md);
  font-family: var(--font-accent);
  color: var(--accent);
}

.cartContainer {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  margin-top: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
}

.cartTotal {
  font-family: var(--font-accent);
  font-size: var(--fs-md);
  color: var(--text-accent);
  padding-top: var(--space-lg);
  border-top: 1px solid #334155;
}

.cartActions {
  display: flex;
  gap: var(--space-md);
  justify-content: center;
}

.clearCartBtn {
  background-color: var(--danger);
  color: var(--text-main);
  font-size: var(--fs-sm);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--br-md);
  margin-top: var(--space-sm);
  font-family: var(--font-accent);
  transition:
    background-color 150ms ease,
    transform 150ms ease;
}

.checkoutBtn {
  background-color: var(--success);
  color: var(--text-main);
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--br-md);
  font-family: var(--font-accent);
  margin-top: var(--space-sm);
  transition:
    background color 150ms ease,
    transform 150ms ease;
}

.clearCartBtn:hover {
  background-color: var(--danger-hover);
}

.clearCartBtn:active {
  transform: scale(0.97);
}

.checkoutBtn:hover {
  background-color: var(--success-hover);
}

.checkoutBtn:active {
  transform: scale(0.97);
}

.toast {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--success);
  color: var(--text-main);
  padding: var(--space-sm) var(--space-xl);
  font-family: var(--font-accent);
  font-weight: var(--fw-bold);
  z-index: 1000;
  animation: fadeinDown 300ms ease forwards;
  border-radius: var(--br-md);
  white-space: nowrap;
}

@keyframes fadeinDown {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-90px);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(-55px);
  }
}
