.nav {
  height: 80px;
  border-bottom: 1px solid #333;
  background-color: var(--nav-bg);
  color: white;
}

.navInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-md);
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  height: 100%;
}

.logo {
  font-size: var(--fs-base);
  color: var(--text-accent);
  font-family: var(--font-accent);
}

.menu {
  display: flex;
  gap: var(--space-md);
  list-style: none;
}

.menuLink {
  color: var(--text-muted);
}

.active {
  color: #646cff;
  font-weight: bold;
}

.cartIcon {
  position: relative;
}

.cartBadge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: var(--danger);
  color: var(--text-main);
  font-size: var(--fs-xs);
  font-weight: var(--fw-bold);
  width: 18px;
  height: 18px;
  border-radius: var(--br-circle);
  display: flex;
  align-items: center;
  justify-content: center;
}
