.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--space-xl);
  height: 80px;
  border-bottom: 1px solid #333;
  background-color: var(--nav-bg);
  color: white;
}

.logo {
  font-size: var(--fs-base);
  color: var(--text-accent);
  font-family: var(--font-accent);
}

.menu {
  display: flex;
  gap: var(--space-md);
  list-style: none;
}

.menuLink {
  color: var(--text-muted);
}

.active {
  color: #646cff;
  font-weight: bold;
}
